<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.testapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="What To Wear"
        android:name=".CustomApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="What To Wear"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SocialActivity"
            android:label="Social"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.MainActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="History"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.MainActivity" />
        </activity>
        <activity
            android:name=".ClosetActivity"
            android:label="My Closet"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.MainActivity" />
        </activity>
        <activity
            android:name=".AddItem"
            android:label="Add Item"
            android:parentActivityName=".ClosetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.ClosetActivity" />
        </activity>
        <activity
            android:name=".EditClothingInfo"
            android:label="Edit Clothing Item"
            android:parentActivityName=".ClosetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.ClosetActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.MainActivity" />
        </activity>
        <activity
            android:name=".OutfitDetail"
            android:label="Settings"
            android:parentActivityName=".HistoryActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.HistoryActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.MainActivity" />
        </activity>
        <activity
            android:name=".CustomizeActivity"
            android:label="Customize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.testapp.MainActivity" />
        </activity>
    </application>
</manifest>